/********** Base styles **********/

* 
{
	box-sizing: border-box;
}

body
{
	background-color: white;
	margin-left: 10px;
	margin-right: 10px;
}

h1
{
	/*background-color: lime;*/
	margin-top: 100px;
	margin-bottom: 30px;
	text-align: center;
	font-family: Arial, Verdana, sans-serif;
	/*opacity: 0.7;*/
	font-style: bold;
	width: 100%;
}

/********** Large devices only **********/

@media (min-width: 992px)
{
	.maincontent
	{
		background-color: pink;
	}

	.menubox
	{
		border-style: solid;
		border-width: 2px;
		border-color: black;
		background-color: gray;
		margin: 1.66%;
		width: 30%;
		float: left;
		text-align: justify;
		font-family: Arial, Verdana, sans-serif;
	}	
}

/********** Medium devices only **********/

@media (min-width: 768px) and (max-width: 991px)
{
	.maincontent
	{
		background-color: none;
	}

	.menubox
	{
		border-style: solid;
		border-width: 2px;
		border-color: black;
		background-color: gray;
		/*margin: 1.66%;
		width: 30%;*/
		/*float: left;*/
		text-align: justify;
		font-family: Arial, Verdana, sans-serif;
	}	

	.mb1
	{
		width: 40%;
		margin: 5%;
		float: left;
	}

	.mb2
	{
		width: 40%;
		margin: 5%;
		float: right;
	}

	.mb3
	{
		width: 90%;
		margin: 5%;
		clear: both;
	}
}

/********** Small devices only **********/

@media (max-width: 767px)
{
	.maincontent
	{
		background-color: pink;
	}

	.menubox
	{
		border-style: solid;
		border-width: 2px;
		border-color: black;
		background-color: gray;
		margin: 5%;
		width: 90%;
		float: left;
		text-align: justify;
		font-family: Arial, Verdana, sans-serif;
	}	
}

.item
{
	background-color: fuchsia;
}

.mbtl
{
	background-color: gray;
	float: left;
	width: 65%;
	height: 20%;
}

.mbtr
{
	background-color: green;
	float: right;
	width: 35%;
	height: 20%;
	border-left-style: solid;
	border-bottom-style: solid;
	border-left-width: 2px;
	border-bottom-width: 2px;
	border-bottom-color: black;
	border-left-color: black;
	text-align: center;
	padding: 1%;
}

.mbbt
{
	background-color: gray;
	clear: both;
	width: 100%;
	height: 80%;
	text-align: justify;
	padding: 3%;
}

#foodtype1
{
	background-color: lightcoral;
}

#foodtype2
{
	background-color: firebrick;
}

#foodtype3
{
	background-color: khaki;
}